.navbar-custom {
    padding: 5px;
}

.navbar-custom.affix {
    padding: 5px;
}

footer .footer-above {
    padding-top: 15px;
}

footer .footer-col {
     margin-bottom: 0px;
}

footer .footer-below {
    padding: 5px 0;
}

header .container {
    padding-top: 80px;
    padding-bottom: 0px;
    min-height: 860px;
    position: relative;
}

@media (min-width: 1200px) {
    .container {
        width: 1440px;
    }
}

#editor, #editor2 {
    height: 200px;
}